extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // LOGGED OUT TOAST
    .modal#loggedOutModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 You have been logged out
        button.hideModals.submit-button Hide
    // /LOGGED OUT TOAST

    // ISM DELETED TOAST
    .modal#ismDeletedModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 Ism deleted
        button.hideModals.submit-button Hide
    // /ISM DELETED TOAST

    // SOURCE SELECT
    .modal#sourceSelectModal
      br
      br
      br
      br
      .modal-container.form-container
        h1 Add to which source?
        #sourceListDiv
        br
        br
        br
        button#upsertSource.submit-button Add New Source
        button.hideModals.submit-button Hide
    // SOURCE SELECT

    // SOURCE UPSERTED TOAST
    .modal#sourceUpsertedModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1#sourceUpsertedHeader Source added
        button.hideModals.submit-button Hide
    // /SOURCE UPSERTED TOAST

    // UPSERT SOURCE FORM
    .modal#upsertSourceModal
      br
      br
      br
      br
      .modal-container
        #upsertSourceForm
          .form-container-wrapper
            fieldset.form-container
              h1#sourceFormTitle Add new source
              input#inputTitle(type='text', placeholder='title').form-field
              br
              input#inputAuthor(type='text', placeholder='author').form-field
              br
              button#btnSubmitUpsertSource.submit-button Add Source
              button.hideModals.submit-button Hide
    // /UPSERT SOURCE FORM

    // LOGIN FORM
    .modal#loginModal
      br
      br
      br
      br
      .modal-container
        #loginForm
          .form-container-wrapper
            fieldset.form-container
              h1 Please log in to complete this action
              input#inputUsername(type='text', placeholder='username').form-field
              br
              input#inputPassword(type='password', placeholder='password').form-field
              br
              button#btnSubmitLogin.submit-button Login
              button.hideModals.submit-button Hide
    // /LOGIN FORM

    button#newIsm.submit-button New Ism
    button#upsertSource2.submit-button New Source
    button#logout.submit-button Logout
    button#login.submit-button Login
    br
    br
    span Current Filter: 
    span#currentFilter
    span 
    button#btnEditSource.submit-button Edit
    br
    br
    #sourceCloud
    br
    #tagCloud
    br
    button#clearFilter.submit-button(value='') Clear Filter

    // BULK ADD ISM FORM
    .modal#bulkAddIsmModal
      br
      br
      br
      br
      .modal-container
        #bulkAddIsmForm
          .form-container-wrapper
            fieldset.form-container
              h1#bulkAddIsmSourceHeader
              div Ism bulk add
              textarea#inputBulkIsms(type='textarea', rows=10, value='').form-field
              br
              button#btnSubmitBulkAddIsm.submit-button Add Isms
              button.hideModals.submit-button Hide
    // /BULK ADD ISM FORM

    // ISM FORM
    .modal#upsertIsmFormModal
      br
      br
      br
      br
      .modal-container
        #upsertIsmForm
          .form-container-wrapper
            h1#source
            button#btnShowBulkAddIsm.submit-button Bulk Add Instead
            fieldset.form-container
              span *&nbsp;
              input#inputNumber(type='text', placeholder='page number', value='').form-field
              br
              span *&nbsp;
              input#inputTags(type='text', placeholder='tags', value='').form-field
              br
              span *&nbsp;
              br
              textarea#inputQuote(type='textarea', placeholder='quote or note', rows=10, value='').form-field
              br
              textarea#inputComments(type='textarea', placeholder='comments', rows=10, value='').form-field
              br
              button#btnUpsertIsm.submit-button Add Ism
              button#btnClearIsm.submit-button Clear
              button.hideModals.submit-button Hide
    // /ISM FORM

    // ISM LIST
    hr
    #ismList
      isms
    // /ISM LIST

    a(href="#").submit-button back to top
  // /WRAPPER
