extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // LOGGED OUT TOAST
    .modal#loggedOutModal
      br
      br
      br
      br
      .modal-container
        h1 You have been logged out
    // /LOGGED OUT TOAST

    // LOGIN FORM
    .modal#loginModal
      br
      br
      br
      br
      .modal-container
        #loginForm
          .form-container-wrapper
            fieldset.form-container
              h1 Please log in to complete this action
              input#inputUsername(type='text', placeholder='username').form-field
              br
              input#inputPassword(type='password', placeholder='password').form-field
              br
              button#btnSubmitLogin.submit-button Login
    // /LOGIN FORM

    button#newIsm.submit-button New Ism
    button#logout.submit-button Logout
    br
    br
    br
    #tagCloud
    br
    button#showAll.submit-button(value='') Show All

    // ISM FORM
    .modal#formModal
      br
      br
      br
      br
      .modal-container
        h2#addOrUpdateIsmHeader Ism
        #addOrUpdateIsm
          .form-container-wrapper
            fieldset.form-container
              input#inputSource(type='text', placeholder='book title, etc').form-field
              br
              input#inputNumber(type='text', placeholder='page number').form-field
              br
              input#inputTags(type='text', placeholder='tags').form-field
              br
              textarea#inputQuote(type='textarea', placeholder='quote or note', rows=10).form-field
              br
              textarea#inputComments(type='textarea', placeholder='comments', rows=10).form-field
              br
              button#btnAddOrUpdateIsm.submit-button Add or Update Ism
              button#btnClearIsm.submit-button Clear
    // /ISM FORM

    // ISM LIST
    hr
    #ismList
      isms
    // /ISM LIST

    a(href="#").submit-button back to top
  // /WRAPPER
