extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // LOGGED OUT TOAST
    .modal#loggedOutModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 You have been logged out
        button.hideModals.submit-button Hide
    // /LOGGED OUT TOAST

    // ISM DELETED TOAST
    .modal#ismDeletedModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 Ism deleted
        button.hideModals.submit-button Hide
    // /ISM DELETED TOAST

    // NO TAGS TO UPDATE TOAST
    .modal#noIsmsToUpdateToast
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 No isms to update
        button.hideModals.submit-button Hide
    // /NO TAGS TO UPDATE TOAST

    // NO SOURCE SELECTED TOAST
    .modal#noSourceSelectedModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1 Please select a source
        button.hideModals.submit-button Hide
    // /NO SOURCE SELECTED TOAST

    // SOURCE UPSERTED TOAST
    .modal#sourceUpsertedModal
      br
      br
      br
      br
      .modal-container.modal-toast
        h1#sourceUpsertedHeader Source added
        button.hideModals.submit-button Hide
    // /SOURCE UPSERTED TOAST

    // UPSERT SOURCE FORM
    .modal#upsertSourceModal
      br
      br
      br
      br
      .modal-container
        #upsertSourceForm
          .form-container-wrapper
            fieldset.form-container
              h1#sourceFormTitle Add new source
              input#inputTitle(type='text', placeholder='title').form-field
              br
              input#inputAuthor(type='text', placeholder='author').form-field
              br
              button#btnSubmitUpsertSource.submit-button Add Source
              button.hideModals.submit-button Hide
    // /UPSERT SOURCE FORM

    // LOGIN FORM
    .modal#loginModal
      br
      br
      br
      br
      .modal-container
        #loginForm
          .form-container-wrapper
            fieldset.form-container
              h1 Please log in to complete this action
              input#inputUsername(type='text', placeholder='username').form-field
              br
              input#inputPassword(type='password', placeholder='password').form-field
              br
              button#btnSubmitLogin.submit-button Login
              button.hideModals.submit-button Hide
    // /LOGIN FORM

    // BULK ADD ISM FORM
    .modal#bulkAddIsmModal
      br
      br
      br
      br
      .modal-container
        #bulkAddIsmForm
          .form-container-wrapper
            fieldset.form-container
              h1#bulkAddIsmSourceHeader
              div Ism bulk add
              textarea#inputBulkIsms(type='textarea', rows=10, value='').form-field
              br
              button#btnSubmitBulkAddIsm.submit-button Add Isms
              button.hideModals.submit-button Hide
    // /BULK ADD ISM FORM

    // ISM FORM
    .modal#upsertIsmFormModal
      br
      br
      br
      br
      .modal-container
        #upsertIsmForm
          .form-container-wrapper
            fieldset.form-container
              h1#currentSource
              br
              span required
              br
              input#inputNumber(type='number', placeholder='page number', value='').form-field
              br
              span required
              br
              textarea#inputQuote(type='textarea', placeholder='quote or note', rows=10, value='').form-field
              br
              button#moreFields.submit-button More
              button#btnShowBulkAddIsm.submit-button Bulk Add Instead
              br
              input#inputTags(type='text', placeholder='comma-separated tag list', value='').form-field
              br
              textarea#inputComments(type='textarea', placeholder='your comments', rows=10, value='').form-field
              br
              button#btnUpsertIsm.submit-button Add Ism
              button.hideModals.submit-button Hide
    // /ISM FORM

    // UNCOMMENTED UPDATE FORM
    .modal#uncommentedUpdateFormModal
      br
      br
      br
      br
      .modal-container
        #updateUncommentedForm
          .form-container-wrapper
            fieldset.form-container
              h2#readonly-source.readonly-field
              br
              textarea#newComments(type='textarea', placeholder='comments', rows=10, value='').form-field
              br
              button#save-and-next-uncommented.submit-button Save & Next
              button#quitIsmUpdateComment.submit-button Quit
              br
              textarea#readonly-quote(rows=10 readonly).readonly-field
    // /UNCOMMENTED UPDATE FORM

    // TAGME UPDATE FORM
    .modal#tagmeUpdateFormModal
      br
      br
      br
      br
      .modal-container
        #updateTagmeForm
          .form-container-wrapper
            fieldset.form-container
              h2#readonly-source.readonly-field
              br
              input#newTags(type='text', placeholder='tags').form-field
              br
              button#save-and-next-untagged.submit-button Save & Next
              button#quitIsmUpdateTag.submit-button Quit
              br
              textarea#readonly-quote(rows=10 readonly).readonly-field
    // /TAGME UPDATE FORM

    .clouds
      // THE CLOUDS
      #sourceCloud.cloud
      br
      #tagCloud.cloud
      br
      // /THE CLOUDS

    // ISM LIST
    #ismList.cloud
      isms
    // /ISM LIST

  // /WRAPPER

  a(name="endOfPage")

  #footer
    button#newIsm.submit-button New Ism
    button#addSource.submit-button New Source
    a(href="#")#toTop.submit-button(title='go to top') Top
    a(href="#endOfPage")#toBottom.submit-button(title='page down') Down
    button#clearFilter.submit-button(title='clear tag or source') Clear
    button#toggleSources.submit-button(title='toggle sources') Sources
    button#toggleTags.submit-button(title='toggle tags') Tags
    button#untagged.submit-button(title='displays random ism with the tagme tag, for updating') Untagged
    button#uncommented.submit-button(title='displays random ism with no comments, for updating') Uncommented
    button#export.submit-button Export
    button#logout.submit-button Logout
    button#login.submit-button Login
