extends layout

block content
    h1= title
    p Better Isms

    // Wrapper
    #wrapper

        // ISM LIST
        h2 Isms
        #ismList
            table
                thead
                    th category
                    th name
                    th body
                    th tags
                    th U
                    th D
                tbody
        // /ISM LIST

        // ADD ISM
        h2 Add Ism
        #addIsm
            fieldset
                input#inputCategory(type='text', placeholder='category')
                br
                input#inputName(type='text', placeholder='name')
                br
                input#inputBody(type='text', placeholder='body')
                br
                input#inputTags(type='text', placeholder='tags')
                br
                button#btnAddIsm Add Ism
        // /ADD ISM
        br
        br
        // UPDATE ISM
        h2 Update Ism
        #updateIsm
            fieldset
                strong ism to update:
                |  <span id='ismBeingUpdated'></span>
                br
                input#updateCategory(type='text', placeholder='category')
                br
                input#updateName(type='text', placeholder='name')
                br
                input#updateBody(type='text', placeholder='body')
                br
                input#updateTags(type='text', placeholder='tags')
                br
                button#btnUpdateIsm Update Ism
        // /UPDATE ISM

    // /WRAPPER
