extends layout

block content
    h1= title
    p Better Isms

    // Wrapper
    #wrapper

        // ISM LIST
        h2 Isms
        #ismList
            table
                thead
                    th source
                    th page number
                    th tags
                    th quote
                    th comments
                    th U
                    th D
                tbody
        // /ISM LIST

        // ADD ISM
        h2 Add Ism
        #addIsm
            fieldset
                input#inputSource(type='text', placeholder='book title, etc')
                br
                input#inputNumber(type='text', placeholder='page number')
                br
                input#inputTags(type='text', placeholder='tags')
                br
                input#inputQuote(type='text', placeholder='quote or note').textarea
                br
                input#inputComments(type='text', placeholder='comments').textarea
                br
                button#btnAddIsm Add Ism
        // /ADD ISM
        br
        br
        // UPDATE ISM
        h2 Update Ism
        #updateIsm
            fieldset
                strong ism to update:
                |  <span id='ismBeingUpdated'></span>
                br
                input#updateSource(type='text', placeholder='book title, etc')
                br
                input#updateNumber(type='text', placeholder='page number')
                br
                input#updateTags(type='text', placeholder='tags')
                br
                input#updateQuote(type='textarea', placeholder='quote or note').textarea
                br
                input#updateComments(type='textarea', placeholder='comments').textarea
                br
                button#btnUpdateIsm Update Ism
        // /UPDATE ISM

    // /WRAPPER
