doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
html(lang="en")
  head
    block title
      title better isms
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/form.css')
    link(rel='stylesheet', href='/css/modal.css')
  body
    block scripts
        script(src="https://code.jquery.com/jquery-1.10.0.min.js")
        script(src="/cookie.js")
        script(src="/auth.js")
        script(src="/tags.js")
        script(src="/sources.js")
        script(src="/ismForm.js")
        script(src="/modal.js")
        script(src="/contentControl.js")
        script(src="/isms.js")
        script(src="/database.js")
        script(src="/forms.js")
        script(src="/main.js")
        script(src="/init.js")
    block content
        some default content
