doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
html(lang="en")
  head
    block title
      title better isms
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/form.css')
    link(rel='stylesheet', href='/css/modal.css')
  body
    block scripts
        script(src="https://code.jquery.com/jquery-1.10.0.min.js")
        script(src="/cookie.js")
        script(src="/auth.js")
        script(src="/tagProcessor.js")
        script(src="/sourceProcessor.js")
        script(src="/ismFormHandler.js")
        script(src="/modal.js")
        script(src="/contentHandler.js")
        script(src="/upsertIsm.js")
        script(src="/upsertSource.js")
        script(src="/delete.js")
        script(src="/forms.js")
        script(src="/filter.js")
        script(src="/global.js")
    block content
        some default content
