extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // LOGIN FORM
    .modal#formModal
      br
      br
      br
      br
      .modal-form
        #loginForm
          .form-container-wrapper
            fieldset.form-container
              input#inputUsername(type='text', placeholder='username').form-field
              br
              input#inputPassword(type='password', placeholder='password').form-field
              button#btnSubmitLogin.submit-button Login
    // /LOGIN FORM
  // /WRAPPER
