body {
  padding: 2em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin: 0 0 .5em 0;
}

a {
  color: #00B7FF;
  font: 10em;
}

#wrapper {
	position:relative;
}

#ismList {
	margin: 0 0 2em 0;
}

@media (min-device-width: 768px) {
}

@media (max-device-width: 767px) {
}
