body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin: 0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	position:relative;
}

#ismList {
	margin: 0 0 2em 0;
}

.record {
  font-size: 1.5em;
  word-wrap: break-word;
}

.field {
  color: #222222;
  margin: .2em;
  padding: 0 .2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tag {
  background: #E0E0D1;
}

.source {
  background: #ffe6e6;
}
.num {
  background: #e6ffcc;
}
.quote {
  background: rgb(204, 241, 255);
}
.comment {
  background: #ffffcc;
}

.required {
  text-align: left;
}

.linksource, .linksourcefilter, .linktagfilter {
  font-size: 1.5em;
}

@media (min-device-width: 768px) {
  body {
    padding: 2em;
  }
}

@media (max-device-width: 767px) {
}
