body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin: 0 0 0.5em 0;
}

a {
  color: #00b7ff;
}

#wrapper {
  position: relative;
  padding-bottom: 80px;
}

#ismList {
  margin: 0 0 2em 0;
}

.record {
  font-size: 1.5em;
  word-wrap: break-word;
}

.field {
  color: #222222;
  margin: 0.2em;
  padding: 0 0.2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tag {
  background: #e0e0d1;
}

.source {
  background: #ffe6e6;
}
.num {
  background: #e6ffcc;
}
.quote {
  background: rgb(204, 241, 255);
}
.comment {
  background: #ffffcc;
}

.required {
  text-align: left;
}

.linksource,
.linksourcefilter,
.linktagfilter {
  font-size: 1.5em;
}

.sourceCloudEntry {
  margin: 5px 0;
}

@media (min-device-width: 768px) {
  body {
    padding: 2em;
  }
}

.mediumseagreen {
  color: mediumseagreen;
}

.tomato {
  color: tomato;
}

.violet {
  color: violet;
}

.orange {
  color: orange;
}

.slateblue {
  color: slateblue;
}

#btnEditSource {
  display: none;
}

.highlighted {
  background-color: mediumseagreen;
  color: white;
}

#footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
}

@media (min-width: 768px) {
  body {
    margin: auto;
    width: 70%;
  }

  #sourceCloud {
    position: absolute;
    top: 1em;
    left: 10px;
    width: 365px;
    overflow: hidden;
  }

  #ismList {
    position: absolute;
    top: 1em;
    left: 376px;
    width: 500px;
    overflow: hidden;
  }

  #tagCloud {
    padding-left: 2em;
    position: absolute;
    top: 1em;
    left: 877px;
    width: 400px;
    overflow: hidden;
  }

  #footer {
    margin: auto;
    width: 70%;
    text-align: center;
  }

}
